/* 1. Gerais
/* 2. Container
/* 3. Header
/* 4. Main - Crew
/**************/


/* 1. Gerais
/**************/

body {
    background-image: url(/assets/crew/background-crew-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--primary-clear);
    height: 100vh;
}

a {
    color: var(--primary-clear);
}

@media screen and (max-width: 600px) {
    body {
        background-image: url(/assets/crew/background-crew-mobile.jpg);
    }
}

@media screen and (min-width: 601px) and (max-width: 990px) {
    body {
        background-image: url(/assets/crew/background-crew-tablet.jpg);
    }
}


/**************/


/* 2. Container
/**************/

.crew {
    display: flex;
    justify-content: space-around;
    padding: 0 50px;
    flex-wrap: wrap-reverse;
    margin-bottom: 50px;
}


/**************/


/* 3. Header
/**************/

.header .header__navbar {
    backdrop-filter: blur(70px);
    -webkit-backdrop-filter: blur(70px);
}


/**************/


/* 4. Crew
/**************/

.crew .crew__section {
    width: 650px;
    margin: 0 2rem;
}

.crew__title--mobile {
    display: none;
}

.crew .crew__section .crew__title,
.crew__title--mobile {
    font-family: var(--font-heading);
    font-size: 1.75rem;
    letter-spacing: 4.75px;
    margin-bottom: 7rem;
}

.crew .crew__section .crew__subtitle,
.crew__title--mobile .crew__subtitle {
    color: rgba(128, 128, 128, 0.699);
}

.crew .crew__article .crew__caption {
    color: rgba(128, 128, 128, 0.699);
    font-family: var(--font-sub-heading);
    font-size: 2rem;
}

.crew .crew__article .crew__title-name {
    font-size: 3.5rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.crew .crew__article .crew__text {
    font-family: var(--font-text);
    color: var(--primary-assets);
    font-size: .90rem;
    line-height: .7cm;
    width: 100%;
    height: 170px;
}

.crew .crew__list .crew__item {
    display: inline-block;
    margin: 0 5px;
}

.crew__button {
    background-color: var(--slider-button);
    border: none;
    padding: 5px;
    border-radius: 50px;
    cursor: pointer;
}

.crew .crew__list .crew__item>button:hover {
    background-color: rgba(128, 128, 128, 0.877);
}

.crew .crew__list .crew__item>button:active {
    background-color: var(--primary-assets);
}

.is-active-slider {
    background-color: var(--primary-assets);
}

.crew__aside {
    width: 400px;
    height: 100%;
}

.crew__aside img {
    width: auto;
    height: 500px;
    object-fit: cover;
}

@media screen and (max-width: 600px) {
    .crew__title--mobile {
        margin: 2rem;
    }
    .crew .crew__article {
        text-align: center;
    }
    .crew .crew__article .crew__caption {
        font-size: 1.4rem;
    }
    .crew .crew__article .crew__title-name {
        font-size: 2.1rem;
        margin-top: .50rem;
        margin-bottom: 2rem;
    }
    .crew .crew__article .crew__text {
        font-size: 1rem;
        height: 120px;
        margin-bottom: 5rem;
    }
    .crew__list {
        text-align: center;
        margin-bottom: 2rem;
    }
    .crew__aside {
        width: 200px;
        text-align: center;
        margin-bottom: 2rem;
    }
    .crew__aside>img {
        height: 360px;
    }
}

@media screen and (min-width: 601px) and (max-width: 990px) {
    .crew__title--mobile {
        margin: 4rem 0rem;
        display: block;
    }
    .crew .crew__article {
        text-align: center;
    }
    .crew .crew__article .crew__text {
        font-size: 1rem;
        height: 120px;
    }
    .crew__list {
        text-align: center;
    }
    .crew__aside {
        width: 100%;
        margin-bottom: -16px;
        text-align: center;
    }
    .crew__aside>img {
        margin: 0 auto 3rem auto;
    }
}


/**************/
