/* 1. Gerais
/* 2. Container
/* 3. Main - Cover
/**************/


/* 1. Gerais
/**************/

body {
    background-image: url(/assets/home/background-home-desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 600px) {
    body {
        background-image: url(/assets/home/background-home-mobile.jpg);
    }
}

@media screen and (min-width: 601px) and (max-width: 990px) {
    body {
        background-image: url(/assets/home/background-home-tablet.jpg);
    }
}


/**************/


/* 2. Container
/**************/

.cover {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .cover {
        display: block;
    }
}

@media screen and (min-width: 601px) and (max-width: 990px) {
    .cover {
        display: block;
    }
}


/**************/


/* 4. Main - Cover
/**************/

.cover .cover__section {
    margin-top: 4rem;
}

.cover .cover__section>.cover__title-caption {
    color: var(--primary-assets);
    font-size: 1.75rem;
    font-family: var(--font-heading);
    letter-spacing: 4.75px;
}

.cover .cover__section>.cover__title {
    color: var(--primary-clear);
    font-size: 9.4rem;
    font-family: var(--font-sub-heading);
    margin: 1rem 0 1.2rem 0;
}

.cover .cover__section>.cover__text {
    color: var(--primary-assets);
    font-family: var(--font-text);
    font-size: .90rem;
    line-height: .7cm;
}

.cover__div {
    position: relative;
}

.cover .cover__button {
    background-color: var(--primary-clear);
    border: none;
    border-radius: 50%;
    padding: 100px 55px;
    margin-top: 8rem;
    cursor: pointer;
}

.cover__button img {
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 35%;
    width: 80px;
    display: none;
    animation: fly 20s 1 normal;
    -o-animation: fly 20s 1 normal;
    -webkit-animation: fly 20s 1 normal;
    -moz-animation: fly 20s 1 normal;
}

@keyframes fly {
    0% {
        bottom: -10%;
    }
    10% {
        bottom: 15%;
        transform: rotate(-80deg) translateY(-150px);
    }
    20% {
        bottom: 70%;
        transform: rotate(-100deg) translateY(-900px);
    }
    100% {
        left: -350%;
        bottom: 60%;
        transform: rotate(10deg) translateY(-900px);
    }
}

@-o-keyframes fly {
    0% {
        bottom: -10%;
    }
    10% {
        bottom: 15%;
        transform: rotate(-80deg) translateY(-150px);
    }
    20% {
        bottom: 70%;
        transform: rotate(-100deg) translateY(-900px);
    }
    100% {
        left: -350%;
        bottom: 60%;
        transform: rotate(10deg) translateY(-900px);
    }
}

@-moz-keyframes fly {
    0% {
        bottom: -10%;
    }
    10% {
        bottom: 15%;
        transform: rotate(-80deg) translateY(-150px);
    }
    20% {
        bottom: 70%;
        transform: rotate(-100deg) translateY(-900px);
    }
    100% {
        left: -350%;
        bottom: 60%;
        transform: rotate(10deg) translateY(-900px);
    }
}

@-webkit-keyframes fly {
    0% {
        bottom: -10%;
    }
    10% {
        bottom: 15%;
        transform: rotate(-80deg) translateY(-150px);
    }
    20% {
        bottom: 70%;
        transform: rotate(-100deg) translateY(-900px);
    }
    100% {
        left: -350%;
        bottom: 60%;
        transform: rotate(10deg) translateY(-900px);
    }
}

.cover__button:hover a {
    color: var(--primary-clear);
    font-weight: bold;
}

.cover__button:hover {
    background-image: url(/assets/launch.gif);
}

.cover__button:hover img {
    display: block;
}

.cover__link {
    color: var(--primary);
    font-size: 2rem;
    font-family: var(--font-sub-heading);
}

@media screen and (max-width: 600px) {
    .cover .cover__section {
        margin-top: 4rem;
        text-align: center;
    }
    .cover .cover__section>.cover__title-caption {
        font-size: 1.35rem;
    }
    .cover .cover__section>.cover__title {
        font-size: 7.4rem;
        margin: 1rem 0;
    }
    .cover .cover__section>.cover__text {
        font-size: 1rem;
    }
    .cover__div {
        margin: auto;
        width: 250px;
        height: 500px;
        position: relative;
    }
    .cover .cover__button {
        margin-top: 10rem;
    }
    .cover__button img {
        animation: fly 25s 1 normal;
        -o-animation: fly 25s 1 normal;
        -webkit-animation: fly 25s 1 normal;
        -moz-animation: fly 25s 1 normal;
    }
    @keyframes fly {
        0% {
            bottom: -10%;
        }
        5% {
            bottom: 120%;
        }
        10% {
            bottom: 120%;
            transform: rotate(-80deg) translateY(-150px);
        }
        20% {
            bottom: 130%;
            transform: rotate(-100deg) translateY(-900px);
        }
        100% {
            left: -350%;
            bottom: 150%;
            transform: rotate(10deg) translateY(-900px);
        }
    }
    @-o-keyframes fly {
        0% {
            bottom: -10%;
        }
        5% {
            bottom: 120%;
        }
        10% {
            bottom: 120%;
            transform: rotate(-80deg) translateY(-150px);
        }
        20% {
            bottom: 130%;
            transform: rotate(-100deg) translateY(-900px);
        }
        100% {
            left: -350%;
            bottom: 150%;
            transform: rotate(10deg) translateY(-900px);
        }
    }
    @-moz-keyframes fly {
        0% {
            bottom: -10%;
        }
        5% {
            bottom: 120%;
        }
        10% {
            bottom: 120%;
            transform: rotate(-80deg) translateY(-150px);
        }
        20% {
            bottom: 130%;
            transform: rotate(-100deg) translateY(-900px);
        }
        100% {
            left: -350%;
            bottom: 150%;
            transform: rotate(10deg) translateY(-900px);
        }
    }
    @-webkit-keyframes fly {
        0% {
            bottom: -10%;
        }
        5% {
            bottom: 120%;
        }
        10% {
            bottom: 120%;
            transform: rotate(-80deg) translateY(-150px);
        }
        20% {
            bottom: 130%;
            transform: rotate(-100deg) translateY(-900px);
        }
        100% {
            left: -350%;
            bottom: 150%;
            transform: rotate(10deg) translateY(-900px);
        }
    }
}

@media screen and (min-width: 601px) and (max-width: 990px) {
    .cover .cover__section {
        margin-top: 8rem;
        text-align: center;
    }
    .cover .cover__section>.cover__text {
        font-size: 1rem;
    }
    .cover__div {
        margin: auto;
        width: 250px;
        height: 500px;
        position: relative;
    }
    .cover .cover__button {
        margin-top: 10rem;
    }
    @keyframes fly {
        0% {
            bottom: -10%;
        }
        5% {
            bottom: 130%;
        }
        10% {
            bottom: 130%;
            transform: rotate(-80deg) translateY(-150px);
        }
        20% {
            bottom: 150%;
            transform: rotate(-100deg) translateY(-900px);
        }
        100% {
            left: -350%;
            bottom: 150%;
            transform: rotate(10deg) translateY(-900px);
        }
    }
    @-o-keyframes fly {
        0% {
            bottom: -10%;
        }
        10% {
            bottom: 15%;
            transform: rotate(-80deg) translateY(-150px);
        }
        20% {
            bottom: 70%;
            transform: rotate(-100deg) translateY(-900px);
        }
        100% {
            left: -350%;
            bottom: 60%;
            transform: rotate(10deg) translateY(-900px);
        }
    }
    @-moz-keyframes fly {
        0% {
            bottom: -10%;
        }
        10% {
            bottom: 15%;
            transform: rotate(-80deg) translateY(-150px);
        }
        20% {
            bottom: 70%;
            transform: rotate(-100deg) translateY(-900px);
        }
        100% {
            left: -350%;
            bottom: 60%;
            transform: rotate(10deg) translateY(-900px);
        }
    }
    @-webkit-keyframes fly {
        0% {
            bottom: -10%;
        }
        10% {
            bottom: 15%;
            transform: rotate(-80deg) translateY(-150px);
        }
        20% {
            bottom: 70%;
            transform: rotate(-100deg) translateY(-900px);
        }
        100% {
            left: -350%;
            bottom: 60%;
            transform: rotate(10deg) translateY(-900px);
        }
    }
}


/**************/